<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convo Cove</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="style/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
        defer></script>

    <style>
        main {
            min-height: 100vh;
            background: linear-gradient(to bottom, #001F3F, #5300E8);
            /* Navy to dark purple */
        }

        .navbar-nav {
            transition: background-color 0.2s ease-in-out;
            /* Add smooth transition */
        }

        img {
            object-fit: cover;
        }

        .username-text {
            display: inline-block;
            max-width: 150px; /* Adjust based on your layout needs */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .profile-picture {
            width: 40px;
            height: 40px;
        }

        /* Media query for smaller screens */
        @media (max-width: 576px) { /* Adjust the max-width as needed */
            .username-text {
                max-width: 100px; /* Reduce the max-width for smaller screens */
                font-size: 20px;  /* Reduce the font size for smaller screens */
            }
            .profile-picture {
                width: 30px;   /* Reduce the width for smaller screens */
                height: 30px;  /* Reduce the height for smaller screens */
            }
        }
    </style>
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse pt-3 justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link mx-2 <% if (locals.friendActive && friendActive) { %> active <% } %>"
                                href="/home">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 <% if (locals.pendingActive && pendingActive) { %> active <% } %>"
                                href="/pending">Pending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 <% if (locals.userActive && userActive) { %> active <% } %>"
                                href="/users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 <% if (locals.profileActive && profileActive) { %> active <% } %>"
                                href="/profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <script>
            window.addEventListener('scroll', function () {
                const navbar = document.querySelector('.navbar-nav');
                const navbara = document.querySelectorAll('.navbar-nav a');
                const isScrolled = window.scrollY > 0; // Check if scrolled down

                if (isScrolled) {
                    navbar.classList.add('bg-light');
                    for (let i = 0; i < navbara.length; i++) {
                        navbara[i].classList.add('text-dark');
                    }
                } else {
                    navbar.classList.remove('bg-light');
                    for (let i = 0; i < navbara.length; i++) {
                        navbara[i].classList.remove('text-dark');
                    }
                }
            });
        </script>