<style>
    .navbar-nav {
        transition: background-color 0.2s ease-in-out; /* Add smooth transition */
    }   
</style>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-3 justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mx-2 <% if (locals.friendActive && friendActive) { %> active <% } %>" href="/home">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 <% if (locals.pendingActive && pendingActive) { %> active <% } %>"
                        href="/pending">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 <% if (locals.userActive && userActive) { %> active <% } %>" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 <% if (locals.profileActive && profileActive) { %> active <% } %>" href="/profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    window.addEventListener('scroll', function () {
        const navbar = document.querySelector('.navbar-nav');
        const navbara = document.querySelectorAll('.navbar-nav a');
        const isScrolled = window.scrollY > 0; // Check if scrolled down

        if (isScrolled) {
            navbar.classList.add('bg-light');
            for (let i = 0; i < navbara.length; i++) {
                navbara[i].classList.add('text-dark');
            }
        } else {
            navbar.classList.remove('bg-light');
            for (let i = 0; i < navbara.length; i++) {
                navbara[i].classList.remove('text-dark');
            }
        }
    });
</script>