<%- include("partials/auth_header.ejs") %>

<%- include("partials/message.ejs") %>

<h1>User home page</h1>
<form action="/logout" method="post">
    <button type="submit">logout</button>
</form>

<%- include("partials/footer.ejs") %>