<%- include("partials/auth_header.ejs") %>

<div class="container py-4">
    <div class="border border-light blurred-background p-5 mb-5">
        <h2 class="text-light fw-bold text-uppercase">
            Group Settings
        </h2>
        <hr style="color: white">

    </div>
</div>

<%- include("partials/footer.ejs") %>