<%- include("partials/header_home.ejs") %>

    <div class="hero d-flex flex-column p-5 align-items-center min-vh-100">
        <div class="container py-5 my-5 border border-light d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-3 text-center text-white fw-bold">Dive into Convo Cove!</h1>
            <p class="lead text-center text-white mb-5">Build meaningful connections through conversations.</p>
            <a href="#" class="btn btn-light btn-lg">Get Started</a>
        </div>

        <section class="features mt-5">
            <div class="container text-white">
                <h2 class="text-center mb-4">Explore What Convo Cove Offers</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 rounded-0">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card-img-top mt-3" width="40" height="30"
                                viewBox="0 0 512 512">
                                <path
                                    d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z" />
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title">Secure and Encrypted Messaging</h5>
                                <p class="card-text">Enjoy private communication with end-to-end encryption that keeps your conversations safe and secure. No one can
                                eavesdrop on your messages, not even Convo Cove.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 rounded-0">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card-img-top mt-3" width="40" height="30"
                                viewBox="0 0 640 512">
                                <path
                                    d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z" />
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title">Group Chat and Community Building</h5>
                                <p class="card-text">Connect with friends, family, or like-minded people easily. Create group chats, join communities based on your
                                interests, and participate in vibrant discussions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 rounded-0">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card-img-top mt-3" width="40" height="30"
                                viewBox="0 0 576 512">
                                <path
                                    d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 256h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm256-32H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title">Customizable Profiles and Expressive Avatars</h5>
                                <p class="card-text">Express yourself! Create a unique profile that reflects your personality. Choose a fun avatar, add a bio, and
                                personalize your Convo Cove experience to stand out from the crowd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    



    <%- include("partials/footer.ejs") %>